doctype 5

//name, args, cmd, methods
html(lang="en")
  head
    title= Documentation
    //meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="//code.jquery.com/jquery-1.9.1.js")
    script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
    //script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    //style(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    //style(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css")
    style.
        .res {
            font-style:italic;
            padding-left: 15pt;
            font-size: larger;
            font-family: mono;
        }
  body
    h1#title Documentation
    div.row-fluid
            h2 function: ohai
            h3 Arguments
            p [name] (Required)
            table
                tr
                    td GET - /ohai/:name
                tr
                    td POST - /ohai
            h2 function: wrek
            h3 Arguments
            p [date] (Optional)
            ul
                li GET - /wrek
                li GET - /wrek/:date
                li POST - /wrek
//    - for(var i=0; i<name.length; i++){
//    h2= name[i].name
//    h3 arguments
//    p optional
//    ul
//        -for(var j=0;j<name[i].args.optional.length;j++){
//        - var a = name[i].args.optional;
//        li= a;
//        -}
//        
//    -}
//    #container.col
//        #row.row
//            div.col-md-8
//                h3= 'Resource:'
//                    span.res= '/'+name
//                a(id="1")
        
